{% extends '!layout.html' %}

{%- block relbar1 %}{% endblock %}
{%- block relbar2 %}{% endblock %}

{%- block extrahead %}
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript"> 
        google.load('search', '1', {language : 'en'});
        google.setOnLoadCallback(function() {
            var customSearchControl = new google.search.CustomSearchControl(
            '012431854288267922802:-hf_v2elzxo');

            customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
            var options = new google.search.DrawOptions();
            options.enableSearchboxOnly("http://www.google.com/cse?cx=012431854288267922802:-hf_v2elzxo");
            customSearchControl.draw('cse-search-form', options);
        }, true);
    </script>
    <link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />

    <style type="text/css">
        form.gsc-search-box {
            padding: 10px 0 0;
            float: right;
            width: 350px;
            margin: -85px 0 4px;
        }

        @media screen and (max-width: 999px) {
            form.gsc-search-box {
                float: none;
                width: auto;
                margin: 0;
            }
        }
    </style>


    <script src="_static/js/github.commits.widget-min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function() {
            $('.github-commits').githubInfoWidget(
                { user: 'nithinphilips', repo: 'SMOz', branch: 'master', last: 10, limitMessageTo: 70 });

            // Make the footer takeup all available height (on pages that are too short).
            // Too lazy to change the page layout.
            // Instead, we calculate the height on-demand.
            footer = $('.footer')
            calculatedHeight = window.innerHeight
                - footer.position().top
                - parseInt(footer.css('padding-top'), 0)
                - parseInt(footer.css('padding-bottom'), 0)
                - parseInt(footer.css('margin-top'), 0)
                - parseInt(footer.css('margin-bottom'), 0);

            if(calculatedHeight > $('.footer').height()){
                $('.footer').css('height', calculatedHeight + 'px');
            }
        });
    </script>
{% endblock %}

{%- block header %}
    <div class="header">
        <div class="inner-header">
            <a href="{{ pathto(master_doc) }}">
                <img alt="SMOz Logo" src="{{ pathto('_static/Logo.png', 1)}}" />
            </a>
            <h1><a href="{{ pathto(master_doc) }}">SMOz</a></h1>
            <p>The <em>Smart</em> Menu Organizer</p>

            {{ toctree(maxdepth = -1, collapse = true) }}
            <div id="cse-search-form"></div>
        </div>
    </div>

    {%- if pagename == master_doc %}
        {% include "slideshow.html" %}
    {% endif %}

{% endblock %}

{%- block footer %}
<div class="footer">
<div class="inner-footer">

    <div class="footcolumn">
        <h4>SMOz</h4>
        <ul>
            <li><a href="http://sourceforge.net/projects/smoz/">Project Website</a></li>
            <li><a href="https://lists.sourceforge.net/lists/listinfo/smoz-users">Mailing List</a></li>
            <li><strong>Source Code:</strong>
            <ul>
                <li><a href="http://smoz.git.sourceforge.net/">@SourceForge</a></li>
                <li><a href="https://github.com/nithinphilips/SMOz">@Github</a></li>
            </ul>
            </li>
            <li><a href="doc/index.html">User Manual</a></li>
            <li><a href="https://www.gnu.org/philosophy/free-sw.html">What is free software?</a></li>
            <li><a href="https://www.gnu.org/copyleft/gpl.html">GNU GPL License</a></li>
        </ul>

    </div>
    <div class="footcolumn">
        <h4>Spread The Word</h4>
            <p>If you have found SMOz useful, please tell your friends about it.</p>
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style ">
                <a href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=ra-4d97562344fe8d5e" class="addthis_button_compact">Share</a>
                <span class="addthis_separator">|</span>
                <a class="addthis_button_preferred_1"></a>
                <a class="addthis_button_preferred_2"></a>
                <a class="addthis_button_preferred_3"></a>
                <a class="addthis_button_preferred_4"></a>
            </div>
            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d97562344fe8d5e"></script>
            <!-- AddThis Button END -->
    </div>
    <div class="footcolumn">
        <h4>Contribute</h4>
        <p>Development of SMOz is a volunteer effort. Anyone is welcome to join
        regardless of prior experience. If you are interested, <a href="mailto:nithin@nithinphilips.com">get in touch</a></p>
    </div>
    <div class="footcolumn">
        <h4>Feedback</h4>
        <p>Send your comments or suggestions to the <a href="mailto:smoz-users@lists.sourceforge.net">smoz-users</a> mailing list.</p>
    </div>

    <hr />

    <div id="sflogo">
        <a href="http://sourceforge.net/" title="visit SourceForge.net">
            <img alt="SourceForge.net Logo" src="http://sourceforge.net/sflogo.php?group_id=114998&amp;type=13"/>
        </a>
    </div>

    {%- if show_copyright %}
      {%- if hasdoc('copyright') %}
        {% trans path=pathto('copyright'), copyright=copyright|e %} (C) <a href="{{ path }}">Copyright</a> {{ copyright }}.{% endtrans %}
      {%- else %}
          {% trans copyright=copyright|e %}(C) {{ copyright }}.{% endtrans %}
      {%- endif %}
    {%- endif %}
    Use contents under 
    <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" title="View Creative Commons Attr-NC-SA License">CC&nbsp;BY-NC-SA</a> |
    <a href="http://validator.w3.org/check/referer" title="Validate XHTML 2.0 Compliance">XHTML&nbsp;1.0</a> |
    <a href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3&amp;vextwarning=true" title="Validate CSS 3 Compliance">CSS&nbsp;3</a>
    {%- if show_source and has_source and sourcename %}
        | <a href="{{ pathto('_sources/' + sourcename, true)|e }}" rel="nofollow">{{ _('Show Source') }}</a>.
    {%- else %}
        .
    {%- endif %}
    <br />
    {%- if last_updated %}
      {% trans last_updated=last_updated|e %}Last updated on {{ last_updated }}.{% endtrans %}
    {%- endif %}
    {%- if show_sphinx %}
      {% trans sphinx_version=sphinx_version|e %}Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> {{ sphinx_version }}.{% endtrans %}
    {%- endif %}
    </div>
    </div>
{%- endblock %}
